@use 'mixins/mixins.scss' as *;

$color-checkbox-border: #dcdfe6;
$color-checkbox-border-hover: #b8860b;
$color-checkbox-icon: #fff;
$color-checkbox-icon-bg: #b8860b;

$var-checkbox-size-small: 14px;
$var-checkbox-size-medium: 16px;
$var-checkbox-size-large: 18px;
$var-checkbox-border-radius: 3px;
$var-checkbox-label-padding: 0 5px;
$var-checkbox-label-font-size: 14px;
$var-checkbox-bezier: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

@include b(checkbox) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    @include b(checkbox-box) {
      border-color: $color-checkbox-border-hover;
    }
  }

  &:focus {
    @include b(checkbox-box) {
      box-shadow: 0 0 0 2px rgb(255, 165, 0, 0.3);
      border-color: $color-checkbox-border-hover;
    }
  }

  @include when(checked) {
    @include b(checkbox-box) {
      border-color: $color-checkbox-border-hover;
    }

    @include b(checkbox) {
      @include e(icon) {
        background-color: $color-checkbox-icon-bg;
        color: $color-checkbox-icon;
      }
    }
  }

  @include e(icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $var-checkbox-size-small;
    background-color: transparent;
    color: transparent;
    transition: background-color $var-checkbox-bezier,
      color $var-checkbox-bezier;
  }

  @include e(label) {
    padding: $var-checkbox-label-padding;
    font-size: $var-checkbox-label-font-size;
  }
}

@include b(checkbox-box) {
  width: $var-checkbox-size-small;
  height: $var-checkbox-size-small;
  border: 1px solid $color-checkbox-border;
  border-radius: $var-checkbox-border-radius;
  transition: box-shadow $var-checkbox-bezier, border-color $var-checkbox-bezier;
}
