@use 'mixins/mixins.scss' as *;

@include b(tree) {}

@include b(tree-node-warpper) {
	padding: 2px 0;
}


@include b(tree-node) {
	position: relative;
	display: flex;
	align-items: center;
	padding: 1px 0;
	cursor: pointer;

	&:hover,
	&:active {
		background-color: $color-garg-1;
	}

	@include e(border) {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		border: 2px solid $color-primary;

		@include m(bottom) {
			position: absolute;
			bottom: -4px;
			right: 0;
			height: 2px;
			border: unset;
			background-color: $color-primary;
		}
	}

	@include e(text) {
		flex: 1
	}


	@include when(expanded) {
		@include b(tree-node-switcher) {
			@include e(icon) {
				i {
					transform: rotate(90deg);
				}
			}
		}
	}

	@include when(leaf) {
		@include b(tree-node-switcher) {
			@include e(icon) {
				fill: transparent;
			}
		}
	}

	@include when(loading) {
		@include b(tree-node-switcher) {
			@include e(icon) {
				i {
					animation: rotate 2s linear infinite;
				}
			}
		}
	}

	@include when(selected) {
		background-color: $color-garg-2;
	}
}

@include b(tree-node-indent) {
	width: 21px;
}

@include b(tree-node-switcher) {
	@include e(icon) {
		user-select: none;

		i {
			transition: transform 0.3s;
		}
	}
}


@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}

}