@use 'mixins/mixins.scss' as *;

@include b(vl) {
  position: relative;
  max-width: inherit;
  max-height: inherit;
  overflow: auto;
  scrollbar-width: none;

  @include e(visible) {
    @include when(horizontal) {
      display: inline-flex;
      flex-direction: row;
    }
  }
}
