$color-primary-floralwhite: #fffaf0;
$color-primary-oldlace: #fdf5e6;
$color-primary-papayawhip: #ffefd5;
$color-primary-moccasin: #ffe4b5;
$color-primary-wheat: #f5deb3;
$color-primary-goldenrod: #daa520;
$color-primary-orange: #ffa500;

$color-primary: #b8860b; // darkgoldenrod
$color-success: #18a058;
$color-warning: #f0a020;
$color-error: #d03050;
$color-info: #2080f0;

$color-garg-1: #f5f7fa;
$color-garg-2: #e0e0e0;
