@use 'mixins/mixins.scss' as *;

$color-scrollbar-color: rgba(0, 0, 0, 0.25);
$color-scrollbar-color-hover: rgba(0, 0, 0, 0.4);

$var-scrollbar-border-radius: 5px;
$var-scrollbar-width: 5px;
$var-scrollbar-height: 5px;
$var-scrollbar-bezier: cubic-bezier(0.4, 0, 0.2, 1);

@include b(scrollbar) {
  position: relative;
  width: 100%;
  height: 100%;

  @include when(display_controller) {
    @include b(scrollbar-rail) {
      @include e(controller) {
        background-color: $color-scrollbar-color;
      }
    }
  }

  &:hover {
    @include b(scrollbar-rail) {
      @include e(controller) {
        background-color: $color-scrollbar-color;
      }
    }
  }

  @include b(scrollbar-rail) {
    @include e(controller) {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: $var-scrollbar-border-radius;
      user-select: none;
      transition: background-color 0.2s $var-scrollbar-bezier;
      cursor: pointer;

      &:hover {
        background-color: $color-scrollbar-color-hover;
      }

      @include when(active) {
        background-color: $color-scrollbar-color-hover;
      }
    }
  }
}

@include b(scrollbar-container) {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

@include b(scrollbar-rail) {
  @include m(vertical) {
    position: absolute;
    top: 0;
    right: 0;
    width: $var-scrollbar-width;
    height: 100%;
  }

  @include m(horizontal) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $var-scrollbar-height;
  }
}
